<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginPage"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view_syllabus"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCCl61gXRro9L9e3sWE1F1ZnHr24bxPAfA" />

        <activity
            android:name=".student_.student_set_home_location"
            android:exported="false" />
        <activity
            android:name=".student_.payment_details.student_payment_details"
            android:exported="false" />
        <activity
            android:name=".student_.monitor_test.student_monitor_tests"
            android:exported="false" />
        <activity
            android:name=".tutor_.tutor_about_tests"
            android:exported="false" />
        <activity
            android:name=".tutor_.tutor_view_tests"
            android:exported="false" />
        <activity
            android:name=".tutor_.tutor_add_test"
            android:exported="false" />
        <activity
            android:name=".student_.track_syllabus.student_track_syllabus"
            android:exported="false" />
        <activity
            android:name=".tutor_.tutor_add_number_of_tests"
            android:exported="false" />
        <activity
            android:name=".tutor_.Tutor_actual_geo_signin"
            android:exported="false" />
        <activity
            android:name=".Reset_Password"
            android:exported="false" />
        <activity
            android:name=".Enter_topics_Tutor"
            android:exported="false" />
        <activity
            android:name=".Set_Syllabus_"
            android:exported="false" />
        <activity
            android:name=".tutor_.student_list"
            android:exported="false" />
        <activity
            android:name=".student_.student_home_screen"
            android:exported="false" />
        <activity
            android:name=".tutor_.tutor_home_screen"
            android:exported="false"
            android:parentActivityName=".tutor_.tutor_geo_signin" />
        <activity
            android:name=".tutor_.tutor_geo_signin"
            android:exported="false" />
        <activity
            android:name=".login_pages.Student_Login"
            android:exported="false" />
        <activity
            android:name=".login_pages.Tutor_Login"
            android:exported="false" />
        <activity
            android:name=".main_screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>